@import "bootstrap-sprockets";
@import "bootstrap";
.emailprint{
    color: #d54d7b; font-family: "Great Vibes", cursive; font-size: 80px; line-height: 160px; font-weight: normal; margin-bottom: 0px; margin-top: 40px; text-align: center; text-shadow: 0 1px 1px #fff;
}
body {
    background-image: url("wallpaper.jpg");
}

h2 { color: #CEF0D4; font-family: 'Rouge Script', cursive; font-size: 90px; font-weight: normal; line-height: 48px; margin: 0 0 50px; text-align: center; text-shadow: 1px 1px 2px #082b34; }
.container{
    text-align: center;
}
#play_button {
    position:absolute;
    transition: .5s ease;
    top: 50%;
    left: 50%;
}
h1 {
  text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}
